#reset-wizard {
    opacity: 1;
    position: relative;
    background: #4A4A4A;
    height: auto;
    width: 738px;
    padding: 15px 50px 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1); }
    #wizard.pt-86 {
      padding-top: 86px; }
    
      .logo-img {
        height: 80px;
      }
      
    
    @media (max-width: 767px) {
      body{
        background-color: #fff;
        opacity: 1;
  
        background-size: 20px 20px;
    }
      .wrapper {
        height: auto;
        display: block; }
    
        #reset-wizard {
          margin-top: 100px;
          width: auto;
          height: auto;
          margin-bottom: 100px;
          padding: 30px 20px;
          border-radius: 0;
          box-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none; }
      
    
        .forgot-link {
          margin-right: 30px;
        }
    
  
      .forgot-link {
        margin-right: 30px;
      }
  
      .form-header {
        display: block; }
        .form-header .avartar {
          width: 100%;
          text-align: center;
          margin-bottom: 25px; }
        .form-header .form-group {
          width: 100%; } }
    
    
          @media (max-width: 540px) {
            .forgot-link {
              margin-right: 20px;
            }
          }