.admin-products-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.admin-products-add-btn{
  position: absolute;
  right: 32%;
  top: 2.6rem;
}

.admin-products-table{
  margin-top: 2rem;
  width: 80% !important;
  margin-bottom: 0 !important;
}

.admin-products-table th{
  background-color: rgb(112, 112, 112);
  padding: 0.2rem 2.5rem;
  text-align: center;
}

.admin-products-table-footer{
  min-width: 80%;
  width: auto;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  background-color: rgb(171, 170, 170);
  font-weight: bold;
}

.admin-products-table-footer p{
  padding-top: 0.8rem;
}